In [1]:
# Archivo del proyeto w2-pandas-project

In [2]:
#import libraries

import numpy as np
import pandas as pd
import re

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)

In [3]:
# creation of a new variable (path) which contains the path of the file it is going to be analyse (attacks.csv)

path = '../data/attacks.csv'

dattacks = pd.read_csv(path, encoding='windows-1252')

In [4]:
# comprobation of the existence of the dataset and first look at it
dattacks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [5]:
# before starting the analysis we are going to make a copy of our original data and see its dimensions

dattacks_original = dattacks.copy()
dimension_original = dattacks_original.shape
dimension_original

(25723, 24)

In [6]:
# we see there are 25723 rows and 24 columns.

In [7]:
# changes in the names in the columns in order to standardise them

columnas = list(dattacks.columns)
cols = []

for i in columnas:
    
    i = i.lower()
    i = i.replace(" ","_")
    i = i.replace(":","")
    i = i.replace(".","_")
    cols.append(i)
    
    
cols[9] = cols[9].replace("_","")
cols[14] = cols[14].replace("_","")


for i in range(len(cols)):
    
    dattacks.rename(columns = {columnas[i]:cols[i]}, inplace = True)

In [8]:
# now we procede to look into the data to see how in detail what we have

dattacks.info(memory_usage ='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             8702 non-null   object
 1   date                    6302 non-null   object
 2   year                    6300 non-null   float64
 3   type                    6298 non-null   object
 4   country                 6252 non-null   object
 5   area                    5847 non-null   object
 6   location                5762 non-null   object
 7   activity                5758 non-null   object
 8   name                    6092 non-null   object
 9   sex                     5737 non-null   object
 10  age                     3471 non-null   object
 11  injury                  6274 non-null   object
 12  fatal_(y/n)             5763 non-null   object
 13  time                    2948 non-null   object
 14  species                 3464 non-null   object
 15  investigator_or_source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href_formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  case_number_1           6302 non-null   object
 20  case_number_2           6302 non-null   object
 21  original_order          6309 non-null   float64
 22  unnamed_22              1 non-null      object
 23  unnamed_23              2 non-null      object
dtypes: float64(2), object(22)
memory usage: 22.8 MB

In [9]:
#Every single column has a lot of nulls. This indicates that it is very probable we have to clean a lot of rows. Initial hypothesis: 17.000-20.000 should be deleted

In [10]:
#the first step we are going to take is to delete the duplicate rows. This decision has been made base in the fact that every column has a los of nulls, so itis very probably there are several columns filled entire with nulls and we are going to delete them

In [11]:
# delete duplicate rows

dattacks.drop_duplicates(inplace = True)

In [12]:
# comparation of the new dimentions of the dataset

dattacks.shape, dattacks_original.shape

((6312, 24), (25723, 24))

In [13]:
# we have delete 19.000 rows aprox

In [14]:
# we are going to look again into the dataset to visualice the situation

In [15]:
dattacks.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6312 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             6310 non-null   object
 1   date                    6302 non-null   object
 2   year                    6300 non-null   float64
 3   type                    6298 non-null   object
 4   country                 6252 non-null   object
 5   area                    5847 non-null   object
 6   location                5762 non-null   object
 7   activity                5758 non-null   object
 8   name                    6092 non-null   object
 9   sex                     5737 non-null   object
 10  age                     3471 non-null   object
 11  injury                  6274 non-null   object
 12  fatal_(y/n)             5763 non-null   object
 13  time                    2948 non-null   object
 14  species                 3464 non-null   object
 15  investigator_or_source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href_formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  case_number_1           6302 non-null   object
 20  case_number_2           6302 non-null   object
 21  original_order          6309 non-null   float64
 22  unnamed_22              1 non-null      object
 23  unnamed_23              2 non-null      object
dtypes: float64(2), object(22)
memory usage: 9.4 MB

In [16]:
# now we are going to select the columns we want to submit to study and eliminate any row that contains Nan values in any of the columns which have been chosen

In [17]:
c = list(dattacks[dattacks['country'].isna()].index) #
d = list(dattacks[dattacks['date'].isna()].index) #
t = list(dattacks[dattacks['type'].isna()].index) #
s = list(dattacks[dattacks['sex'].isna()].index) #
f = list(dattacks[dattacks['fatal_(y/n)'].isna()].index) #
a = list(dattacks[dattacks['area'].isna()].index) #
ti = list(dattacks[dattacks['time'].isna()].index) #
sp = list(dattacks[dattacks['species'].isna()].index) #
ca = list(dattacks[dattacks['case_number'].isna()].index) #

deleted_rows = c+d+t+s+f+sp+a+ti+ca

dattacks.drop(deleted_rows, axis = 0, inplace = True)

In [18]:
dattacks.shape

(1680, 24)

In [19]:
dattacks.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1680 entries, 0 to 6265
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             1680 non-null   object
 1   date                    1680 non-null   object
 2   year                    1680 non-null   float64
 3   type                    1680 non-null   object
 4   country                 1680 non-null   object
 5   area                    1680 non-null   object
 6   location                1669 non-null   object
 7   activity                1661 non-null   object
 8   name                    1678 non-null   object
 9   sex                     1680 non-null   object
 10  age                     1451 non-null   object
 11  injury                  1680 non-null   object
 12  fatal_(y/n)             1680 non-null   object
 13  time                    1680 non-null   object
 14  species                 1680 non-null   object
 15  investigator_or_source  1678 non-null   object
 16  pdf                     1680 non-null   object
 17  href_formula            1680 non-null   object
 18  href                    1680 non-null   object
 19  case_number_1           1680 non-null   object
 20  case_number_2           1680 non-null   object
 21  original_order          1680 non-null   float64
 22  unnamed_22              0 non-null      object
 23  unnamed_23              0 non-null      object
dtypes: float64(2), object(22)
memory usage: 2.6 MB

In [20]:
# now we are going to procede to clean each column we have selected

In [21]:
#case

In [22]:
ca_nu_del =[6265, 6242, 6243]

dattacks.drop(ca_nu_del, axis = 0, inplace = True)

dattacks['case_number'] = dattacks['case_number'].astype('category')

In [23]:
#date

In [24]:
a=list(dattacks.case_number)

bad_date=[]

rows_date_del=[]

dattacks.date = dattacks.date.str.replace('-', '.')

for i in a:
    
    if '.00' in i:
    
        i=str(i)
        bad_date.append(i)


for i in range(len(bad_date)):
   
    rows_date_del.append(dattacks.index[(dattacks['case_number']==bad_date[i])].tolist())

rows_to_del = [j for i in rows_date_del for j in i]

dattacks.drop(rows_to_del, axis = 0, inplace = True)

dattacks['date'] = dattacks['date'].fillna(dattacks['case_number'])

true_dates = []
false_dates =list(dattacks.date)
false_dates[157] = '20-05-2015'

for i in false_dates:
    if 'Jan' in i:
        i=i.replace('Jan','01')
        if 'Reported' in i:
            i = i.replace('Reported ','')
            true_dates.append(i)
        else:
            true_dates.append(i)
        
    elif 'Feb' in i:
        i=i.replace('Feb', '02')
        if 'Reported' in i:
            i = i.replace('Reported ','')
            true_dates.append(i)
        else:
            true_dates.append(i)

    elif 'Mar' in i:
        i=i.replace('Mar', '03')
        if 'Reported' in i:
            i = i.replace('Reported ','')
            true_dates.append(i)
        elif 'or' in i:
            i = i.replace(' or 27.03.1925', '')
            true_dates.append(i)
        else:
            true_dates.append(i)
        
    elif 'Apr' in i:
        i=i.replace('Apr', '04')
        if 'Reported' in i:
            i = i.replace('Reported ','')
            true_dates.append(i)
        else:
            true_dates.append(i)        
    elif 'May' in i:
        i=i.replace('May', '05')
        if 'Reported' in i:
            i = i.replace('Reported ','')
            true_dates.append(i)
        elif 'or' in i:
            i = i.replace(' or 30', '')
            true_dates.append(i)
        elif i == '20-May2015':
            i = i.replace('20-May2015', '20-05-2015')
            true_dates.append(i)
        else:
            true_dates.append(i)              
    elif 'Jun' in i:
        i=i.replace('Jun', '06')
        if 'Reported' in i:
            i = i.replace('Reported ','')
            true_dates.append(i)
        else:
            true_dates.append(i)              
    elif 'Jul' in i:
        i=i.replace('Jul', '07')
        if 'Reported' in i:
            i = i.replace('Reported ','')
            true_dates.append(i)
        else:
            true_dates.append(i)              
    elif 'Aug' in i:
        i=i.replace('Aug', '08')
        if 'Reported' in i:
            i = i.replace('Reported ','')
            true_dates.append(i)
        else:
            true_dates.append(i)              
    elif 'Sep' in i:
        i=i.replace('Sep', '09')
        if 'Reported' in i:
            i = i.replace('Reported ','')
            true_dates.append(i)
        else:
            true_dates.append(i)              
    elif 'Oct' in i:
        i=i.replace('Oct', '10')
        if 'Reported' in i:
            i = i.replace('Reported ','')
            true_dates.append(i)
        else:
            true_dates.append(i)              
    elif 'Nov' in i:
        i=i.replace('Nov', '11')
        if 'Reported' in i:
            i = i.replace('Reported ','')
            true_dates.append(i)
        else:
            true_dates.append(i)              
    elif 'Dec' in i:
        i=i.replace('Dec', '12')
        if 'Reported' in i:
            i = i.replace('Reported ','')
            true_dates.append(i)
        elif 'p' in i:
            i=i.replace('p', '.')
            true_dates.append(i)
        else:
            true_dates.append(i)  
    else:
        true_dates.append(i)

dattacks['date'].replace(false_dates, true_dates, inplace = True)  

tt_date = []

for i in true_dates:
    if i == '20.May2015':
        i = '20-05-2015'
        tt_date.append(i)
    elif ' ' in i:
        i=i.replace(' ', '')
        tt_date.append(i)
    elif '  ' in i:
        i=i.replace('  ', '')
        tt_date.append(i)
    elif '   ' in i:
        i=i.replace('   ', '')
        tt_date.append(i)
    elif '19002.2010' in i:
        i = i.replace('19002.2010','19.02.2010')
        tt_date.append(i)
    elif '20.May2015' in i:
        i = i.replace('20.May2015','20.05.2015')
        tt_date.append(i)
    elif '24.051922' in i:
        i= i.replace('24.051922', '24.05.1922')
        tt_date.append(i)
    elif '05051979' in i:
        i= i.replace('05051979', '05.05.1979')
        tt_date.append(i)
    elif '04.021993' in i:
        i= i.replace('04.021993', '04.02.1993')
        tt_date.append(i)
    elif '22.07.144' in i:
        i= i.replace('22.07.144', '22.07.1944')
        tt_date.append(i)
    elif len(i)>11:
        str=''
        for j in range(10):
            str = str+i[j]
        tt_date.append(str)
    else:
        tt_date.append(i)
        
dattacks['date'].replace(true_dates, tt_date, inplace = True)


dattacks.drop(421, axis=0, inplace=True)
dattacks.drop(423, axis=0, inplace=True)
dattacks.drop(3096, axis=0, inplace=True)
dattacks.drop(2508, axis=0, inplace=True)
dattacks.drop(3048, axis=0, inplace=True)
dattacks.drop(5224, axis=0, inplace=True)
dattacks.drop(6200, axis = 0, inplace = True)


dattacks.date = dattacks.date.str.replace('.', '-')    

dattacks['date']=pd.to_datetime(dattacks['date'], format = '%d-%m-%Y')

In [25]:
#year

In [26]:
dattacks['year']=pd.to_datetime(dattacks['year'], format = '%Y')

In [27]:
#sex

In [28]:
dattacks.drop(1624, axis = 0, inplace = True)

dattacks['sex'] = dattacks['sex'].astype('category')

In [29]:
dattacks.shape

(1640, 24)

In [30]:
#fatal_(y/n)
dattacks['fatal_(y/n)'].value_counts()

fatal_false=list(dattacks['fatal_(y/n)'])
fatal_true=[]

for i in fatal_false:
    if ' ' in i:
        i = i.replace(' N', 'N')
        fatal_true.append(i)
    elif 'M' in i:
        i = i.replace('M', 'Y')
        fatal_true.append(i)
    else:
        fatal_true.append(i)


fatal_true = pd.Series(fatal_true)  

dattacks.drop(786, axis=0, inplace=True)
dattacks.drop(5270, axis=0, inplace=True)

dattacks['fatal_(y/n)'].replace(fatal_false, fatal_true, inplace = True) 

dattacks['fatal_(y/n)'] = dattacks['fatal_(y/n)'].astype('category')

In [31]:
dattacks.shape

(1638, 24)

In [32]:
#species

In [33]:
species_false = list(dattacks.species.value_counts().index)

In [34]:
sharks=[]
for i in species_false:
    i = i.lower()
    if 'white' in i:
        i = 'white'
        sharks.append(i)
    elif 'bull' in i or 'leucas' in i:
        i ='bull'
        sharks.append(i)
    elif 'tiger' in i:
        i ='tiger'
        sharks.append(i)
    elif 'bronze whaler' in i:
        i ='copper'
        sharks.append(i)
    elif 'raggedtooth' in i:
        i ='raggedtooth'
        sharks.append(i)
    elif 'blacktip' in i:
        i ='blacktip'
        sharks.append(i)
    elif 'zambesi' in i or 'zambezi' in i:
        i ='zambesi'
        sharks.append(i)
    elif 'nurse' in i:
        i ='nurse'
        sharks.append(i)
    elif 'wobbegong' in i:
        i ='wobbegong'
        sharks.append(i)
    elif 'blue' in i:
        i ='blue'
        sharks.append(i)
    elif 'galapagos' in i:
        i ='galapagos'
        sharks.append(i)
    elif 'mako' in i:
        i ='mako'
        sharks.append(i)
    elif 'caribbean' in i:
        i ='caribbean_reef'
        sharks.append(i)
    elif 'angel' in i:
        i ='angel'
        sharks.append(i)
    elif 'spinner' in i or 'maculpinnis ' in i:
        i ='spinner'
        sharks.append(i)
    elif 'hammerhead' in i:
        i ='hammerhead'
        sharks.append(i)
    elif 'sand' in i:
        i ='sand'
        sharks.append(i)
    elif 'dusky' in i:
        i ='dusky'
        sharks.append(i)
    elif 'lemon' in i:
        i ='lemon'
        sharks.append(i)
    elif 'copper' in i:
        i ='copper'
        sharks.append(i)
    elif 'cookie' in i:
        i ='cookie_cutter'
        sharks.append(i)
    elif 'bronze' in i:
        i ='copper'
        sharks.append(i)
    elif 'thresher' in i:
        i ='thresher'
        sharks.append(i)
    elif 'grey reef' in i or 'grey' in i or 'silky' in i:
        i ='grey_reef'
        sharks.append(i)
    elif 'port jackson' in i:
        i ='bull'
        sharks.append(i)
    elif 'salmon' in i:
        i ='salmon'
        sharks.append(i)
    elif 'broadnose sevengill' in i or 'sevengill' in i or 'broadnose' in i or 'seven-gill' in i or '7-gill' in i:
        i ='broadnose_sevengill'
        sharks.append(i)
    elif 'spotted dogfish' in i:
        i ='spotted_dogfish'
        sharks.append(i)
    elif 'gummy' in i:
        i ='gummy'
        sharks.append(i)
    elif 'horn' in i:
        i ='horn'
        sharks.append(i)
    elif '   ' in i:
        i =i
        sharks.append(i)
    elif 'stingray' in i:
        i ='stingray'
        sharks.append(i)
    elif 'moreno’s leg  & part of his swim suit found in 9\' shark caught two hours after the attack. identified as carcharhinid shark by l. schultz & c. limbaugh on photograph' in i:
        i ='caribbean_reef'
        sharks.append(i)
    elif 'gangeticus' in i:
        i ='ganges'
        sharks.append(i)
    elif 'whaler' in i:
        i ='copper'
        sharks.append(i)
    elif 'albimarginatus' in i:
        i ='whitefin_swellshark'
        sharks.append(i)
    elif 'gangeticus' in i:
        i ='ganges'
        sharks.append(i)
    elif 'whaler' in i:
        i ='copper'
        sharks.append(i)
    elif 'albimarginatus' in i:
        i ='whitefin_swellshark'
        sharks.append(i)
    elif 'shark' in i or 'sharks' in i or 'undefined' in i or 'unidentified' in i or 'diameter' in i or '1.2 m to 1.5 m [4\' to 5\']   shark' in i or ' ' in i:
        i = 'unidentified_shark'
        sharks.append(i)
    else:
        sharks.append(i)

dattacks['species'].replace(species_false, sharks, inplace = True)

dattacks.drop(2336, axis = 0, inplace = True)
dattacks.drop(20, axis = 0, inplace = True)
dattacks.drop(3800, axis = 0, inplace = True)

dattacks['species'] = dattacks['species'].astype('category')

In [35]:
dattacks.shape

(1635, 24)

In [36]:
#type

In [37]:
type_false = list(dattacks.type)
type_true = []

for i in type_false:
    if 'Unprovoked' in i:
        i = 'Unprovoked'
        type_true.append(i)
    elif 'Sea' in i:
        i = 'Unprovoked'
        type_true.append(i)
    elif 'Questionable' in i:
        i = 'Unprovoked'
        type_true.append(i)
    elif 'Invalid' in i:
        i = 'Unprovoked'
        type_true.append(i)
    elif 'Boat' in i:
        i = 'Provoked'
        type_true.append(i)
    elif 'Provoked' in i:
        i = 'Provoked'
        type_true.append(i)
    else:
        type_true.append(i)

dattacks['type'].replace(type_false, type_true, inplace = True)      
dattacks['type'] = dattacks['type'].astype('category')

In [38]:
dattacks.shape

(1635, 24)

In [39]:
#time

In [40]:
#zonas: dawn morning afternoon night

#morning
dattacks.time[dattacks.time.str.startswith('07h')] = 'Morning'
dattacks.time[dattacks.time.str.startswith('08h')] = 'Morning'
dattacks.time[dattacks.time.str.startswith('09h')] = 'Morning'
dattacks.time[dattacks.time.str.startswith('10h')] = 'Morning'
dattacks.time[dattacks.time.str.startswith('11h')] = 'Morning'
dattacks.time[dattacks.time.str.startswith('12h')] = 'Morning'

#afternoon
dattacks.time[dattacks.time.str.startswith('13h')] = 'Afternoon'
dattacks.time[dattacks.time.str.startswith('14h')] = 'Afternoon'
dattacks.time[dattacks.time.str.startswith('15h')] = 'Afternoon'
dattacks.time[dattacks.time.str.startswith('16h')] = 'Afternoon'
dattacks.time[dattacks.time.str.startswith('17h')] = 'Afternoon'
dattacks.time[dattacks.time.str.startswith('18h')] = 'Afternoon'

#night
dattacks.time[dattacks.time.str.startswith('19h')] = 'Night'
dattacks.time[dattacks.time.str.startswith('20h')] = 'Night'
dattacks.time[dattacks.time.str.startswith('21h')] = 'Night'
dattacks.time[dattacks.time.str.startswith('22h')] = 'Night'
dattacks.time[dattacks.time.str.startswith('23h')] = 'Night'
dattacks.time[dattacks.time.str.startswith('00h')] = 'Night'


#dawn
dattacks.time[dattacks.time.str.startswith('01h')] = 'Dawn'
dattacks.time[dattacks.time.str.startswith('02h')] = 'Dawn'
dattacks.time[dattacks.time.str.startswith('03h')] = 'Dawn'
dattacks.time[dattacks.time.str.startswith('04h')] = 'Dawn'
dattacks.time[dattacks.time.str.startswith('05h')] = 'Dawn'
dattacks.time[dattacks.time.str.startswith('06h')] = 'Dawn'



#excepciones
dattacks.time[dattacks.time.str.startswith('Evening')] = 'Night'
dattacks.time[dattacks.time.str.startswith('A.M.')] = 'Morning'
dattacks.time[dattacks.time.str.startswith('Midday')] = 'Morning'
dattacks.time[dattacks.time.str.startswith('Dusk')] = 'Night'
dattacks.time[dattacks.time.str.startswith('Late afternoon')] = 'Afternoon'
dattacks.time[dattacks.time.str.startswith('P.M.')] = 'Afternoon'
dattacks.time[dattacks.time.str.startswith('Early morning')] = 'Morning'
dattacks.time[dattacks.time.str.startswith('Early afternoon')] = 'Afternoon'
dattacks.time[dattacks.time.str.startswith('Late morning')] = 'Morning'
dattacks.time[dattacks.time.str.startswith('Late afternoon')] = 'Afternoon'
dattacks.time[dattacks.time.str.startswith('Late Afternoon')] = 'Afternoon'
dattacks.time[dattacks.time.str.startswith('Midnight')] = 'Night'
dattacks.time[dattacks.time.str.startswith('Sunset')] = 'Night'
dattacks.time[dattacks.time.str.startswith('Noon')] = 'Morning'
dattacks.time[dattacks.time.str.startswith('After noon')] = 'Afternoon'
dattacks.time[dattacks.time.str.startswith('Morning ')] = 'Morning'
dattacks.time[dattacks.time.str.startswith('"Night"')] = 'Night'
dattacks.time[dattacks.time.str.startswith('8')] = 'Night'
dattacks.time[dattacks.time.str.startswith('9')] = 'Morning'
dattacks.time[dattacks.time.str.startswith('"Evening"')] = 'Night'
dattacks.time[dattacks.time.str.startswith('06j00')] = 'Dawn'
dattacks.time[dattacks.time.str.startswith('>06h45')] = 'Dawn'
dattacks.time[dattacks.time.str.startswith('Between 06h00 & 07h20')] = 'Dawn'
dattacks.time[dattacks.time.str.startswith('Mid-morning')] = 'Morning'
dattacks.time[dattacks.time.str.startswith('0830')] = 'Morning'
dattacks.time[dattacks.time.str.startswith('Mid-morning')] = 'Morning'
dattacks.time[dattacks.time.str.startswith('Shortly after midnight')] = 'Night'
dattacks.time[dattacks.time.str.startswith('>14h30')] = 'Afternoon'
dattacks.time[dattacks.time.str.startswith('"After dark"')] = 'Night'
dattacks.time[dattacks.time.str.startswith('Daytime')] = 'Morning'
dattacks.time[dattacks.time.str.startswith(' 14h00')] = 'Afternoon'
dattacks.time[dattacks.time.str.startswith('Shortly before 13h00')] = 'Morning'
dattacks.time[dattacks.time.str.startswith('Early Morning')] = 'Morning'
dattacks.time[dattacks.time.str.startswith('1600')] = 'Afternoon'
dattacks.time[dattacks.time.str.startswith('Just after 12h00')] = 'Morning'
dattacks.time[dattacks.time.str.startswith('Shortly before 12h00')] = 'Morning'
dattacks.time[dattacks.time.str.startswith('>08h00')] = 'Morning'
dattacks.time[dattacks.time.str.startswith('Just before sundown')] = 'Night'
dattacks.time[dattacks.time.str.startswith('"Just before 11h00"')] = 'Morning'
dattacks.time[dattacks.time.str.startswith('Before 07h00')] = 'Dawn'
dattacks.time[dattacks.time.str.startswith('15j45')] = 'Afternoon'
dattacks.time[dattacks.time.str.startswith('Lunchtime')] = 'Morning'
dattacks.time[dattacks.time.str.startswith('Before 10h30')] = 'Morning'
dattacks.time[dattacks.time.str.startswith(' ')] = 'Morning'


#limpieza de sobras
dattacks.drop(1730, axis = 0, inplace = True)
dattacks.drop(1731, axis = 0, inplace = True)
dattacks.drop(1790, axis = 0, inplace = True)
dattacks.drop(1797, axis = 0, inplace = True)
dattacks.drop(2186, axis = 0, inplace = True)
dattacks.drop(2710, axis = 0, inplace = True)
dattacks.drop(1826, axis = 0, inplace = True)
dattacks.drop(5148, axis = 0, inplace = True)
dattacks.drop(1855, axis = 0, inplace = True)

dattacks['time'] = dattacks['time'].astype('category')

In [41]:
#dattacks.info(memory_usage = 'deep')

In [42]:
dattacks.shape

(1626, 24)

In [43]:
#country

In [44]:
country_false = list(dattacks.country)
country_true = []
for i in country_false:
    i =i.capitalize()
    country_true.append(i)
dattacks['country'].replace(country_false, country_true, inplace = True)
dattacks['country'] = dattacks['country'].astype('category')

In [45]:
dattacks.shape

(1626, 24)

In [46]:
#area

In [47]:
dattacks['area'] = dattacks['area'].astype('category')

In [48]:
#activity (this column we have decided to study while we were cleaning)

In [50]:
dattacks['activity'] = dattacks['activity'].fillna('unknown')
dattacks.loc[dattacks['activity']=='unknown']

act_false = list(dattacks.activity)
act_true = []



for i in act_false:
    if 'Surfi' in i or 'surfi' in i:
        i = 'Surfing'
        act_true.append(i)
    elif 'unknown' in i:
        i = 'unknown'
        act_true.append(i)
    elif 'Swimming' in i:
        i = 'Swimming'
        act_true.append(i)
    elif 'Spearfishing' in i:
        i = 'Fishing'
        act_true.append(i)
    elif 'Fishing' in i:
        i = 'Fishing'
        act_true.append(i)
    elif 'Wading' in i:
        i = 'Wading'
        act_true.append(i)
    elif 'Div' in i or 'div' in i:
        i = 'Diving'
        act_true.append(i)
    elif 'Treading' in i or 'Float' in i or 'Bathing':
        i = 'Bathing'
        act_true.append(i)
    else:
        act_true.append(i)
            
dattacks['activity'].replace(act_false, act_true, inplace = True)
dattacks.drop(dattacks[dattacks.activity=='unknown'].index, axis=0, inplace=True)
dattacks['activity'] = dattacks['activity'].astype('category')

In [ ]:
# once the columns we are interested in have been cleaned, we are going to clear the rest to make them more uniform

In [ ]:
#location

In [55]:
location_false = list(dattacks.location)
location_true = []

for i in location_false:
    i = 'unknown'
    location_true.append(i)
    
dattacks['location'].replace(location_false, location_true, inplace = True)
dattacks['location'] = dattacks['location'].astype('category')

In [56]:
dattacks.info(memory_usage ='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1607 entries, 0 to 6021
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             1607 non-null   category
 1   date                    1607 non-null   datetime64[ns]
 2   year                    1607 non-null   datetime64[ns]
 3   type                    1607 non-null   category
 4   country                 1607 non-null   category
 5   area                    1607 non-null   category
 6   location                1607 non-null   category
 7   activity                1607 non-null   category
 8   name                    1605 non-null   object
 9   sex                     1607 non-null   category
 10  age                     1391 non-null   object
 11  injury                  1607 non-null   object
 12  fatal_(y/n)             1607 non-null   category
 13  time                    1607 non-null   category
 14  species                 1607 non-null   category
 15  investigator_or_source  1605 non-null   object
 16  pdf                     1607 non-null   object
 17  href_formula            1607 non-null   object
 18  href                    1607 non-null   object
 19  case_number_1           1607 non-null   object
 20  case_number_2           1607 non-null   object
 21  original_order          1607 non-null   float64
 22  unnamed_22              0 non-null      object
 23  unnamed_23              0 non-null      object
dtypes: category(10), datetime64[ns](2), float64(1), object(11)
memory usage: 1.6 MB

In [57]:
#age

In [70]:
dattacks['age'] = dattacks['age'].fillna(0)

age_false = list(dattacks.age)
age_true = []

for i in age_false:
    i = 0
    age_true.append(i)
    
dattacks['age'].replace(age_false, age_true, inplace = True)
dattacks['age'] = dattacks['age'].astype('int8')

In [72]:
#name

In [73]:
dattacks['name'] = dattacks['name'].fillna('unknown')

name_false = list(dattacks.name)
name_true = []

for i in name_false:
    i = 'unknown'
    name_true.append(i)
    
dattacks['name'].replace(name_false, name_true, inplace = True)
dattacks['name'] = dattacks['name'].astype('category')

In [75]:
#injury

In [76]:
dattacks['injury'] = dattacks['injury'].fillna('unknown')

inj_false = list(dattacks.injury)
inj_true = []

for i in inj_false:
    i = 'unknown'
    inj_true.append(i)
    
dattacks['injury'].replace(inj_false, inj_true, inplace = True)
dattacks['injury'] = dattacks['injury'].astype('category')

In [77]:
#investigator_or_source

In [78]:
dattacks['investigator_or_source'] = dattacks['investigator_or_source'].fillna('unknown')

inv_false = list(dattacks.investigator_or_source)
inv_true = []

for i in inv_false:
    i = 'unknown'
    inv_true.append(i)
    
dattacks['investigator_or_source'].replace(inv_false, inv_true, inplace = True)
dattacks['investigator_or_source'] = dattacks['investigator_or_source'].astype('category')

In [80]:
#pdf

In [82]:
dattacks['pdf'] = dattacks['pdf'].fillna('unknown')

p_false = list(dattacks.pdf)
p_true = []

for i in p_false:
    i = 'unknown'
    p_true.append(i)
    
dattacks['pdf'].replace(p_false, p_true, inplace = True)
dattacks['pdf'] = dattacks['pdf'].astype('category')

In [ ]:
#hred_formula

In [84]:
dattacks['href_formula'] = dattacks['href_formula'].fillna('unknown')

hrf_false = list(dattacks.href_formula)
hrf_true = []

for i in hrf_false:
    i = 'unknown'
    hrf_true.append(i)
    
dattacks['href_formula'].replace(hrf_false, hrf_true, inplace = True)
dattacks['href_formula'] = dattacks['href_formula'].astype('category')

In [85]:
#href

In [87]:
dattacks['href'] = dattacks['href'].fillna('unknown')

hr_false = list(dattacks.href)
hr_true = []

for i in hr_false:
    i = 'unknown'
    hr_true.append(i)
    
dattacks['href'].replace(hr_false, hr_true, inplace = True)
dattacks['href'] = dattacks['href'].astype('category')

In [88]:
dattacks.info(memory_usage ='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1607 entries, 0 to 6021
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             1607 non-null   category
 1   date                    1607 non-null   datetime64[ns]
 2   year                    1607 non-null   datetime64[ns]
 3   type                    1607 non-null   category
 4   country                 1607 non-null   category
 5   area                    1607 non-null   category
 6   location                1607 non-null   category
 7   activity                1607 non-null   category
 8   name                    1607 non-null   category
 9   sex                     1607 non-null   category
 10  age                     1607 non-null   int8
 11  injury                  1607 non-null   category
 12  fatal_(y/n)             1607 non-null   category
 13  time                    1607 non-null   category
 14  species                 1607 non-null   category
 15  investigator_or_source  1607 non-null   category
 16  pdf                     1607 non-null   category
 17  href_formula            1607 non-null   category
 18  href                    1607 non-null   category
 19  case_number_1           1607 non-null   object
 20  case_number_2           1607 non-null   object
 21  original_order          1607 non-null   float64
 22  unnamed_22              0 non-null      object
 23  unnamed_23              0 non-null      object
dtypes: category(16), datetime64[ns](2), float64(1), int8(1), object(4)
memory usage: 602.5 KB