In [1]:
# Archivo del proyeto w2-pandas-project

In [2]:
#import libraries

import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)

In [3]:
# creation of a new variable (path) which contains the path of the file it is going to be analyse (attacks.csv)

path = '../data/attacks.csv'

dattacks = pd.read_csv(path, encoding='windows-1252')

In [4]:
# comprobation of the existence of the dataset and first look at it
dattacks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [5]:
# before starting the analysis we are going to make a copy of our original data and see its dimensions

dattacks_original = dattacks.copy()
dimension_original = dattacks_original.shape
dimension_original

(25723, 24)

In [6]:
# we see there are 25723 rows and 24 columns.

In [7]:
# changes in the names in the columns in order to standardise them

columnas = list(dattacks.columns)
cols = []

for i in columnas:
    
    i = i.lower()
    i = i.replace(" ","_")
    i = i.replace(":","")
    i = i.replace(".","_")
    cols.append(i)
    
    
cols[9] = cols[9].replace("_","")
cols[14] = cols[14].replace("_","")


for i in range(len(cols)):
    
    dattacks.rename(columns = {columnas[i]:cols[i]}, inplace = True)

In [8]:
# now we procede to look into the data to see how in detail what we have

dattacks.info(memory_usage ='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             8702 non-null   object
 1   date                    6302 non-null   object
 2   year                    6300 non-null   float64
 3   type                    6298 non-null   object
 4   country                 6252 non-null   object
 5   area                    5847 non-null   object
 6   location                5762 non-null   object
 7   activity                5758 non-null   object
 8   name                    6092 non-null   object
 9   sex                     5737 non-null   object
 10  age                     3471 non-null   object
 11  injury                  6274 non-null   object
 12  fatal_(y/n)             5763 non-null   object
 13  time                    2948 non-null   object
 14  species                 3464 non-null   object
 15  investigator_or_source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href_formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  case_number_1           6302 non-null   object
 20  case_number_2           6302 non-null   object
 21  original_order          6309 non-null   float64
 22  unnamed_22              1 non-null      object
 23  unnamed_23              2 non-null      object
dtypes: float64(2), object(22)
memory usage: 22.8 MB

In [9]:
#Every single column has a lot of nulls. This indicates that it is very probable we have to clean a lot of rows. Initial hypothesis: 17.000-20.000 should be deleted

In [10]:
#the first step we are going to take is to delete the duplicate rows. This decision has been made base in the fact that every column has a los of nulls, so itis very probably there are several columns filled entire with nulls and we are going to delete them

In [11]:
# delete duplicate rows

dattacks.drop_duplicates(inplace = True)

In [12]:
# comparation of the new dimentions of the dataset

dattacks.shape, dattacks_original.shape

((6312, 24), (25723, 24))

In [13]:
# we have delete 19.000 rows aprox

In [14]:
# we are going to look again into the dataset to visualice the situation

In [15]:
dattacks.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6312 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             6310 non-null   object
 1   date                    6302 non-null   object
 2   year                    6300 non-null   float64
 3   type                    6298 non-null   object
 4   country                 6252 non-null   object
 5   area                    5847 non-null   object
 6   location                5762 non-null   object
 7   activity                5758 non-null   object
 8   name                    6092 non-null   object
 9   sex                     5737 non-null   object
 10  age                     3471 non-null   object
 11  injury                  6274 non-null   object
 12  fatal_(y/n)             5763 non-null   object
 13  time                    2948 non-null   object
 14  species                 3464 non-null   object
 15  investigator_or_source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href_formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  case_number_1           6302 non-null   object
 20  case_number_2           6302 non-null   object
 21  original_order          6309 non-null   float64
 22  unnamed_22              1 non-null      object
 23  unnamed_23              2 non-null      object
dtypes: float64(2), object(22)
memory usage: 9.4 MB

In [16]:
# now we are going to select the columns we want to submit to study and eliminate any row that contains Nan values in any of the columns which have been chosen

In [17]:
c = list(dattacks[dattacks['country'].isna()].index)
d = list(dattacks[dattacks['date'].isna()].index)
t = list(dattacks[dattacks['type'].isna()].index)
s = list(dattacks[dattacks['sex'].isna()].index)
f = list(dattacks[dattacks['fatal_(y/n)'].isna()].index)
a = list(dattacks[dattacks['area'].isna()].index)
l = list(dattacks[dattacks['location'].isna()].index)
ti = list(dattacks[dattacks['time'].isna()].index)
sp = list(dattacks[dattacks['species'].isna()].index)


deleted_rows = c+d+t+s+f+sp+a+l+ti

In [18]:
dattacks.drop(deleted_rows, axis = 0, inplace = True)
dattacks.shape

(1669, 24)

In [19]:
dattacks.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1669 entries, 0 to 6265
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             1669 non-null   object
 1   date                    1669 non-null   object
 2   year                    1669 non-null   float64
 3   type                    1669 non-null   object
 4   country                 1669 non-null   object
 5   area                    1669 non-null   object
 6   location                1669 non-null   object
 7   activity                1651 non-null   object
 8   name                    1667 non-null   object
 9   sex                     1669 non-null   object
 10  age                     1440 non-null   object
 11  injury                  1669 non-null   object
 12  fatal_(y/n)             1669 non-null   object
 13  time                    1669 non-null   object
 14  species                 1669 non-null   object
 15  investigator_or_source  1667 non-null   object
 16  pdf                     1669 non-null   object
 17  href_formula            1669 non-null   object
 18  href                    1669 non-null   object
 19  case_number_1           1669 non-null   object
 20  case_number_2           1669 non-null   object
 21  original_order          1669 non-null   float64
 22  unnamed_22              0 non-null      object
 23  unnamed_23              0 non-null      object
dtypes: float64(2), object(22)
memory usage: 2.6 MB

In [20]:
# now we are going to procede to clean each column we have selected

In [21]:
#case

ca_nu = list(dattacks['case_number'])
ca_nu_del =[6265, 6242, 6243]
dattacks.drop(ca_nu_del, axis = 0, inplace = True)

In [27]:

a=list(dattacks.case_number)

bad_date=[]

rows_date_del=[]

dattacks.date = dattacks.date.str.replace('-', '.')

for i in a:
    
    if '.00' in i:
    
        i=str(i)
        bad_date.append(i)


for i in range(len(bad_date)):
   
    rows_date_del.append(dattacks.index[(dattacks['case_number']==bad_date[i])].tolist())

rows_to_del = [j for i in rows_date_del for j in i]

dattacks.drop(rows_to_del, axis = 0, inplace = True)

In [28]:
#date

true_dates = []
false_dates =list(dattacks.case_number)

for i in false_dates:

    td = ''
    
    for j in range(10):
    
        td = td + i[j]
    
    true_dates.append(td)
            
    
true_dates = pd.Series(true_dates)

dattacks.date = true_dates

dattacks.date = dattacks.date.str.replace('.', '-')

dattacks.date = pd.to_datetime(dattacks.date, format = '%Y-%m-%d')

In [34]:
dattacks

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order,unnamed_22,unnamed_23
0,2018.06.25,2018-06-25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
6,2018.06.03.a,2018-04-28,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,FATAL,Y,Late afternoon,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0,NaN,NaN
8,2018.05.26.b,2018-04-25,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,Lower left leg bitten,N,17h00,"Bull shark, 6'","K.McMurray, TrackingSharks.com",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b,6295.0,NaN,NaN
10,2018.05.24,2018-04-23,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Minor bite to hand by captive shark. PROVOKED ...,N,Morning,Grey reef shark,"ABC.net.au ,05/24/2018",2018.05.24-CairnsAquarium.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.24,2018.05.24,6293.0,NaN,NaN
13,2018.05.13.a,2018-04-03,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,Injured by teeth of a dead porbeagle shark he ...,N,08h15,Invalid incident,"K. McMurray, TrackingSharks.com",2018.05.13.a-Berryman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.13.a,2018.05.13.a,6290.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5853,1877.09.15,NaT,1877.0,Unprovoked,AUSTRALIA,New South Wales,Port Jackson,Fishing,Mr. Coulthard,M,NaN,"No injury, pulled overboard by a shark that gr...",N,Afternoon,13' shark,"The Mercury (Hobart), 9/22/1877",1877.09.15-Coulthard.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1877.09.15,1877.09.15,450.0,NaN,NaN
5882,1874.07.15,NaT,1874.0,Unprovoked,USA,New York,Coney Island,Bathing,Mr. Keatly,M,NaN,Lacerations to groin,N,Afternoon,"68"" shark","NY Times, 7/17/1874",1874.07.15.a-Keatly.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1874.07.15,1874.07.15,421.0,NaN,NaN
5922,1868.05.13,NaT,1868.0,Unprovoked,INDIA,Hoogly River,Ghat,Standing,male,M,35,"FATAL, upper left thigh, groin & buttocks seve...",Y,Before 10h30,Identified as C. gangeticus by Dr. J. Fayrer,"J. Fayrer, M.D.",1868.05.13-Hindoo.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1868.05.13,1868.05.13,381.0,NaN,NaN
5970,1862.07.13,NaT,1862.0,Unprovoked,SPAIN,Cádiz,Off Algeciras,Swimming alongside the SS Kearsarge,Tibbetts,M,NaN,FATAL,Y,18h30,16' shark,C. Moore; W.H. Bedlam,1862.07.13-Tibbetts.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1862.07.13,1862.07.13,333.0,NaN,NaN
6021,1852.02.26,NaT,1852.0,Sea Disaster,SOUTH AFRICA,Western Cape Province,Danger Point,Wreck of the steamship Birkenhead,NaN,M,NaN,FATAL. All of the women & children on board su...,Y,01h50,White sharks,"D. Davies, pp.182-184; M. Levine, GSAF",1852.02.26-Birkenhead.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1852.02.26,1852.02.26,282.0,NaN,NaN

In [37]:
dattacks.date.isna().sum()

977